.ListCountries {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 40px auto;
  flex-wrap: wrap;
}

.ListCountries .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 40px auto;
  flex-wrap: wrap;
}